.page-menu {
  background-color: #4ca6ff;
  height: 71px;
}
.product-section {
   .ide-descriptions {
     background-color: #4ca6ff;
     .ide-description {
       h5 { color: #4dbb5f}
       .ide-tags {
         *{
           background-color: #afb1b3;
         }
       }
     }
   }
  .ide-count {

  }
  .ide-logos {
    background-color: #4ca6ff;
  }


}
